In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv("n_movies.csv")
df.head()

,title,year,certificate,duration,genre,rating,description,stars,votes
0,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
3,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"

In [3]:
df.describe()

            rating
count  8784.000000
mean      6.764515
std       1.214840
min       1.700000
25%       6.100000
50%       6.900000
75%       7.600000
max       9.900000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9957 entries, 0 to 9956
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        9957 non-null   object
 1   year         9430 non-null   object
 2   certificate  6504 non-null   object
 3   duration     7921 non-null   object
 4   genre        9884 non-null   object
 5   rating       8784 non-null   float64
 6   description  9957 non-null   object
 7   stars        9957 non-null   object
 8   votes        8784 non-null   object
dtypes: float64(1), object(8)
memory usage: 700.2+ KB

In [14]:
df.isnull().sum()

title             0
year            527
certificate    3453
duration       2036
genre            73
rating         1173
description       0
stars             0
votes          1173
dtype: int64

In [19]:
# Iterate over each column and find the first row with null values
for column in df.columns:
    null_rows = df[df[column].isnull()]
    
    if not null_rows.empty:
        first_null_row = null_rows.iloc[0]
        row_number = df.index.get_loc(first_null_row.name) + 1
        title_of_movie = first_null_row['title']
        print(f"First movie without a value in '{column}' at row {row_number}: {title_of_movie}")
    else:
        print(f"No movie without a value in '{column}'")

No movie without a value in 'title'
First movie without a value in 'year' at row 325: That '90s Show
First movie without a value in 'certificate' at row 18: 1899
First movie without a value in 'duration' at row 20: Fate: The Winx Saga
First movie without a value in 'genre' at row 2858: The Diplomat
First movie without a value in 'rating' at row 56: Guillermo del Toro's Pinocchio
No movie without a value in 'description'
No movie without a value in 'stars'
First movie without a value in 'votes' at row 56: Guillermo del Toro's Pinocchio

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder